*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
}
.contenedora{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedora .logo img{
    margin-left: 20px;
    width: 70px;
}
.contenedora .Menus a{
    color: skyblue;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    transition: 0.3s linear;
}
.Menus a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: skyblue;
    height: 3.5px;
    transition: 0.3s linear;
}
.Menus a:hover::before,
.Menus a:hover{
    color: skyblue;
    width: 100%;
}
.parte1{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.titulo{
    display: flex;
    align-items: center;
}
.titulo h1{
    margin: 20px;
}
section .parrafo p{
    margin: 0 200px;
}
section .boton button{
    margin: 20px;
}
.parte2{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.parte2 .masProdcutos h2{
    margin: 20px;
}
.parte2 .masProdcutos .scroll{
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}
.parte2 .masProdcutos p{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.parte2 .masProdcutos img{
    display: flex;
    justify-content: center;
}
.parte2 .SobreNosotros h2{
    margin: 20px;
}
.parte2 .SobreNosotros p{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.parte2 .SobreNosotros img{
    display: flex;
    justify-content: center;
}
.parte3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: violet;
}
.parte3 .mapaFormulario{
    width: 90vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parte3 .mapaFormulario .ubicacion{
    width: 500px;
    height: 250px;
}
.parte3 .mapaFormulario .Formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parte3 .mapaFormulario .Formulario h2{
    margin: 20px;
}
.parte3 .mapaFormulario .Formulario p{
    width: 500px;
}
.parte3 .mapaFormulario .informacion{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.parte3 .mapaFormulario .informacion input{
    margin: 5px;
}
.parte3 .fichaLogo{
    width: 90vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.parte3 .fichaLogo .Ficha{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.parte3 .fichaLogo .Ficha table{
    width: 100%;
    height: 100%;
}
.parte3 .fichaLogo .logoRedes{
    width: 90vh;
    height: 20vh;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.aliadosColaboradores{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: coral;
}
.aliadosColaboradores .aliados{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20vh;
}
.aliadosColaboradores .Colaboradores{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aliadosColaboradores footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}